.topCate {
    position: relative;
}

.topCate .box {
    margin: 0 20px;
}

.topCate .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCate img {
    
    width: 300px;
    height:200px;
    object-fit: contain;
}

.topCate .nametop {
    position: relative;
    width: 100%;
}

.topCate .nametop span {
    background-color: #054df5;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    position: absolute;
    top: 0;
    
}

.topCate .nametop .tleft {
    left: 0;
}

.topCate .nametop .tright {
    background-color: #d8db04;
    color: black;
    font-weight: bold;
    position: absolute;
    right: 0;

}